<h2>Celebrate your day with Michael's Pizza </h2>

<button class="btn btn-primary" onClick="something()">Click me!</button>
<br>
<br>

<div class="row">
  <div class="col-md-4"><img src="/images/Bambini.jpg" class="img-responsive" alt="Responsive image"><h3>Bambini</h3></div>
  <div class="col-md-4"><img src="/images/Ispana.jpg" class="img-responsive" alt="Responsive image"><h3>Ispana</h3></div>
	<div class="col-md-4"><img src="/images/Quadro.jpg" class="img-responsive" alt="Responsive image"><h3>Quadro</h3></div>
</div>
<br>
<div class="row">
   <div class="col-md-4"><img src="/images/Sicilia.jpg" class="img-responsive" alt="Responsive image"><h3>Sicila</h3></div>
	 <div class="col-md-4"><img src="/images/Verona.jpg" class="img-responsive" alt="Responsive image"><h3>Verona</h3></div>
	 <div class="col-md-4"><img src="/images/Spinaci.jpg" class="img-responsive" alt="Responsive image"><h3>Spinaci</h3></div>
</div>
<br>
<div class="row">
   <div class="col-md-4"><img src="/images/Sicilia.jpg" class="img-responsive" alt="Responsive image"></div>
	 <div class="col-md-4"><img src="/images/Verona.jpg" class="img-responsive" alt="Responsive image"></div>
	 <div class="col-md-4"><img src="/images/Spinaci.jpg" class="img-responsive" alt="Responsive image"></div>
</div>
<%# <script>

function something()
{
	alert('Hello!');
}

</script> %>