<h2>Welcome</h2>
<div class="row">
  <% @orders.map do |o| %>
    <div class="col-md-4">
      Name:<%= o.name %>
      <div>
       Phone: <%= o.phone %>
      </div>
      <div>
        Order: <%= o.orders_input %> 
      </div>
      <br>
      <br>
    </div>
  <%end%>
</div>
<table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Order</th>
    </tr>
    <% @orders.map do |o| %>
    <td><%= o.name %></td>
    <td><%= o.phone %></td>
    <td><%= o.orders_input %></td>

<% end %>