
<h2>Your Cart: </h2>

<div id="cart">

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
    </tr>

    <% total_qty = 0 %>
    <% total_price = 0 %>
    <% @items.each do |item| %>
      <tr>
      <td><%= item[:product].title %></td>
      <td><%= item[:product].price %> $</td>
      <td><%= item[:qty] %></td>
      
    </tr>
    <% total_price += item[:product].price * item[:qty].to_i %>
    <%total_qty += item[:qty].to_i%>
  <% end %>

    
    

    <tr>
      <td><strong>SUM:</strong></td>
      <td><%= total_price %> $</td>
      <td><%= total_qty %></td>
    </tr>
  </table>


  <h2>Make Your Order</h2>

  <form action="/place_order" method="POST">

    <input type="hidden" name="order[orders_input]" value="<%= @orders_input %>">

    <input type="text" name="order[name]" placeholder="Name" value="">
    <input type="text" name="order[phone]" placeholder="Phone" value="">
    <input type="text" name="order[address]" placeholder=" Delivery Address" value="">

    <br><br>
    <p><button type="submit" class="btn btn-success btn lg" value="Order">Confirm your Order</button> 
    <button class="btn btn-danger btn lg" value="Clear" onclick="return cancel_order()">Clear</button>
  </form>
</div>
  

<script src="/cart.js"></script>