<h4>Post details:</h4>
<br />
<p>
	<%= @this_post.comment %>
	<br />
	<br />
	Added by <%= @this_post.name %>
	<br>
	Added at <%= @this_post.created_at %>
</p>
<br />
<h4>Comments:</h4>
<br />
	<% @this_post.comments.each do |comment| %>
	<p>
	<%= comment.comments_text %>
	 <br>
<% end %>
</p>
<hr />
<p>
	<form action="/details/<%= @this_post.id %>" method="POST" role="form">
		<textarea name="comments_text" class="form-control" rows="6" placeholder="Type comment text here"></textarea>
		<br />
	 	<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>
