<h2>Welcome to Pizza Shop!</h2>
<div class="row">
  <% @products.map do |p| %>
    <div class="col-md-4">
      <%= p.title %>
      <div style="background-image: url(http://localhost:4567<%= p.path_to_image%>); background-position: center; background-repeat: no-repeat; background-size:contain; width: 300px; height: 300px;"></div>
      <div>
        <%= p.description %>
      </div>
      <div>
        Price: <%= p.price %> $
      </div>
      <div>
        Size: <%= p.size %> cm
      </div>
      <div>
      <button class="btn btn-sm btn-success" onClick="add_to_cart(<%= p.id %>)">Add to cart</button>
    </div>
      <br>
      <br>
    </div>
  <%end%>
</div>
<button class="btn btn-primary" onClick="something()">Click me!</button>

<script type="text/javascript">
$(function() {

  update_orders_input();
  update_orders_button();
});
</script>